set interface {{ data.interface }} vlan-id {{ data.vlan_id }}
set interface {{ data.interface }} description {{ data.description }}
set interface {{ data.interface }} family inet address {{ data.ip_address }}
commit