set interfaces {{ data.interface }} vlan-id {{ data.vlan_id }}
set interfaces {{ data.interface }} description {{ data.description }}
set interfaces {{ data.interface }} family inet address {{ data.ip_address }}
commit